body,
body * {
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

img {
  border: 0;
}

button,
div,
img,
svg,
video {
  position: absolute;
}

#main_container {
  position: absolute;
  background-color: #000064;
  border: 1px solid #000000;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 728px;
  height: 90px;
}

#main_content {
  position: absolute;
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

#default_exit {
  top: -1px;
  left: -1px;
  width: 728px;
  height: 90px;
  z-index: 500;
  cursor: pointer;
}


:focus {
  outline: 0;
}

::-moz-focus-inner {
  border: 0;
}

/* Custom Styling */

/* Fonts */
@font-face {
  font-family: "ESKlarheitGrotesk Smbd";
  src: url("./fonts/ESKlarheitGrotesk-Smbd.woff");
  font-weight: normal;
}

@font-face {
  font-family: "ESKlarheitGrotesk Xbd";
  src: url("./fonts/ESKlarheitGrotesk-Xbd.woff");
  font-weight: normal;
}


.full-width{
  width: 728px;
  height: 90px;
}
.copy1, .copy2, .copy3{
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  height: 100%;
  top: 24px;
  left: 0px;
  color: #fff;
  letter-spacing: -0.1px;
  will-change: transform;
  position: absolute;
}
.copy1 > *, .copy2 > *, .copy3 > *{
  width: 100%;
}
.line1{
  position: absolute;
  top: 4px;
  font-size: 21.4px;
  line-height: 34px;
  left: 23px;
  letter-spacing: -0.92px;
  color: #fff;
}
.line2{
  position: absolute;
  top: -10px;
  font-size: 48.3px;
  left: 146px;
  letter-spacing: -1.4px;
  color: #0000aa;
}
.line3{
  position: absolute;
  top: 3px;
  font-size: 21.2px;
  line-height: 34px;
  left: 304px;
  letter-spacing: -0.92px;
  color: #fff;
}
.strike{
  position: absolute;
  left: 46.5px;
  top: 16px;
  width: 69.5px;
  height: 2.5px;
  background-color: #fff;
}
.copy2 .line2{
  left: 168px;
}
.copy2 .line3{
  left: 290px;
}
.copy3{
  position: absolute;
  font-size: 19.7px;
  line-height: 25.5px;
  top: 18px;
  left: 23px;
}
.copy3 span{
  color: #0000aa;
}
.last-frame{
  width: 100%;
  height: 90px;
  /* border-left: #ff6433 solid 8px; */
  background-color: #fff;
  transform: translateX(728px);
  will-change: transform;
}
#card, #logo{
  top: 0px;
}
.copy4{
  font-family: "ESKlarheitGrotesk Xbd";
  width: 100%;
  top: 15.8px;
  left: 24px;
  font-size: 24.2px;
  line-height: 29.2px;
  color: #0000aa;
  letter-spacing: -0.6px;
  will-change: transform;
}
.copy4 span{
  color: #ff6433;
}
#cta{
  font-family: "ESKlarheitGrotesk Smbd";
  background-color: #ff6433;
  display: inline-block;
  font-size: 10.5px;
  top: 30px;
  left: 297px;
  width: 114px;
  height: 30px;
  color: #fff;
  text-align: center;
  line-height: 31px;
  border-radius: 3px;
  will-change: transform;
}

.term{
  font-family: "ESKlarheitGrotesk Smbd";
  color: #0000aa;
  width: 100%;
  font-size: 4.35px;
  top: 74px;
  left: 544px;
}


/* Shine effect */
#shine {
  top: 0px;
  left: 0px;
  width: 728px;
  height: 90px;
  background-image: url(./images/shine.png);
  background-position: 300px 5px;
  background-repeat: no-repeat;
  position: absolute;
  mix-blend-mode: soft-light;
  -webkit-mask-image: url(./images/mask.png);
  -webkit-mask-size: 728px 90px;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-image: url(./images/mask.png);
  z-index: 1;
}
